.homepage {
    /* background-image: "https://i.imgur.com/1ON1h5B.png"; */
    /* background-color: #F3F4C8; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    width: auto;
    background-size: cover;
}

/* .profile {
    background-color: #BDEACF;
} */